In [4]:
import connection
import pathlib

# location of PAT
# pat = pathlib.Path('file with PAT')

# legacy JDBC driver location
# driver = pathlib.Path('location of the driver jar')

## Connect using Legacy JDBC

In [5]:
# project ID for the project to connect to
project_id = 'f03ab262-af2f-46bc-a719-2dbc22a06453'
params = connection.JdbcConnectionParams(connection.Region.NA, pat.read_text(), connection.JdbcConnectionParams.TokenType.PAT,
                                         project_id=project_id, driver_jar=driver)
jconn = params.connect()

In [6]:
# work with sample data
with jconn.cursor() as cur:
    cur.execute(
        'select pickup_datetime, passenger_count, total_amount from Samples."samples.dremio.com"."NYC-taxi-trips-iceberg" limit 10')
    while row := cur.fetchone():
        print(row)

('2013-02-10 21:59:00', 2, 9.5)
('2013-02-10 22:00:00', 6, 7.0)
('2013-02-10 21:57:00', 1, 8.62)
('2013-02-10 21:39:00', 1, 57.3)
('2013-02-08 09:44:00', 1, 15.45)
('2013-02-10 22:01:00', 1, 8.3)
('2013-02-10 21:47:00', 1, 29.0)
('2013-02-08 09:47:00', 1, 12.5)
('2013-02-08 09:53:00', 1, 10.7)
('2013-02-08 09:54:00', 5, 5.0)

## Connect using ADBC

This has the additional benefit of integrating directly with pandas

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore', category=UserWarning)

params = connection.AdbcConnectionParams(connection.Region.NA, pat.read_text(), project_id=project_id)
conn = params.connect()

In [16]:
pd.read_sql(
    'select * from Samples."samples.dremio.com"."NYC-taxi-trips-iceberg" limit 10', conn)

,pickup_datetime,passenger_count,trip_distance_mi,fare_amount,tip_amount,total_amount
0,2013-02-10 21:59:00,2,1.61,7.0,1.50,9.50
1,2013-02-10 22:00:00,6,0.98,6.0,0.00,7.00
2,2013-02-10 21:57:00,1,1.09,6.0,1.62,8.62
3,2013-02-10 21:39:00,1,16.84,52.0,0.00,57.30
4,2013-02-08 09:44:00,1,1.95,11.5,3.45,15.45
5,2013-02-10 22:01:00,1,0.87,5.5,1.80,8.30
6,2013-02-10 21:47:00,1,9.92,28.0,0.00,29.00
7,2013-02-08 09:47:00,1,1.42,10.0,2.00,12.50
8,2013-02-08 09:53:00,1,1.51,8.5,1.70,10.70
9,2013-02-08 09:54:00,5,0.44,4.5,0.00,5.00